{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <table align="center">
        <tr>

           <td> <label for="username">{{ 'resetting.request.username'|trans }}</label> </td>
           <td> <input type="text" id="username" name="username" required="required" /> </td>
        </tr>
        <tr>
            <td><input type="submit" value="{{ 'resetting.request.submit'|trans }}" /> </td>
        </tr>

    </table>
</form>
